{% extends 'base.html' %}

{% block title %}Part List{% endblock %}

{% block content %}
<h2 class="my-4">Part List</h2>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Aircraft</th>
            <th>Stock</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for part in parts %}
        <tr>
            <td>{{ part.name }}</td>
            <td>{{ part.aircraft.name }}</td>
            <td>{{ part.piece }}</td>
            <td>{{ part.created_by.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}