{% extends 'base.html' %}

{% block content %}
    <h2 class="my-4">Assemble Aircraft</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ assemble_aircraft_form.as_p }}
        <button type="submit" class="btn btn-primary">Assemble</button>
    </form>
    {% if error %}
        <div class="alert alert-danger mt-3">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% if message %}
        <div class="alert alert-success mt-3">
            <p>{{ message }}</p>
        </div>
    {% endif %}
{% endblock %}